body {
	display: grid;
	width: 100vw;
	position: relative;
	align-items: center;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h1 {
	text-align: center;
}
.game-board {
	display: grid;
	justify-content: center;
	grid-template: repeat(3, 10rem) / repeat(3, 10rem);
	grid-template-areas:
		'1 2 3'
		'4 5 6'
		'7 8 9';
	background-color: white;
}
.box {
	border: 2px solid #1d3557;
}
.game-board > *:nth-of-type(3n) {
	border-right-width: 0;
}
.game-board > *:nth-of-type(n + 7) {
	border-bottom-width: 0;
}
.game-board > *:nth-of-type(n) {
	border-left-width: 0;
	border-top-width: 0;
}
